<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Commerce365\MagentoApiExtensions\Api\CategoryManagementInterface"
    			type="Commerce365\MagentoApiExtensions\Model\Category" />
    <preference for="Commerce365\MagentoApiExtensions\Api\ShippingMethodManagementInterface"
    			type="Commerce365\MagentoApiExtensions\Model\ShippingMethod" />
    <preference for="Commerce365\MagentoApiExtensions\Api\PaymentMethodManagementInterface"
    			type="Commerce365\MagentoApiExtensions\Model\PaymentMethod" />
    <preference for="Commerce365\MagentoApiExtensions\Api\MagentoManagementInterface"
    			type="Commerce365\MagentoApiExtensions\Model\Magento" />
    <preference for="Commerce365\MagentoApiExtensions\Api\SalesManagementInterface"
    			type="Commerce365\MagentoApiExtensions\Model\Sales" />
    <preference for="Commerce365\MagentoApiExtensions\Api\ProductAttributeSwatchManagementInterface"
                type="Commerce365\MagentoApiExtensions\Model\Product\SwatchManagement" />
    <preference for="Commerce365\MagentoApiExtensions\Api\Data\AttributeOptionSwatchInterface"
                type="Commerce365\MagentoApiExtensions\Model\Entity\Attribute\OptionSwatch" />
    <preference for="Commerce365\MagentoApiExtensions\Api\Data\AttributeOptionSwatchDataInterface"
                type="Commerce365\MagentoApiExtensions\Model\Entity\Attribute\OptionSwatchData" />
    <type name="Commerce365\MagentoApiExtensions\Model\Product\SwatchManagement">
        <arguments>
            <argument name="eavOptionManagement" xsi:type="object">Commerce365\MagentoApiExtensions\Model\Product\SwatchOptionManagement</argument>
        </arguments>
    </type>

    <virtualType name="Commerce365ApiExtensionModuleVersion" type="Commerce365\Core\Service\Module\Version">
        <arguments>
            <argument name="packageName" xsi:type="string">commerce365/module-apiextensions</argument>
        </arguments>
    </virtualType>
    <virtualType name="Commerce365ApiExtensionModuleVersionBlock" type="Commerce365\Core\Block\Adminhtml\Version">
        <arguments>
            <argument name="version" xsi:type="object">Commerce365ApiExtensionModuleVersion</argument>
        </arguments>
    </virtualType>
</config>
